html {
  font-family: 'Roboto', Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 1.9rem;
  margin: 0;
}

h2 {
  font-size: 1.7rem;
  font-weight: 900;
  margin: 0;
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
}

h4 {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
}

h5 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

h6 {
  font-size: 1.072rem;
  font-weight: 400;
  margin: 0;
}

:root {
  --quarter-gutter: 0.2rem;
  --half-gutter: 0.4rem;
  --gutter: 0.8rem;
  --gutter-large: 1.4rem;
  --spacing: 1.6rem;
  --spacing-small: 1.2rem;
  --spacing-medium: 2rem;
  --spacing-large: 3.2rem;

  --color-black: #000000;
  --color-pitch: #0d0f11;
  --color-darkest: #111518;
  --color-darker: #191d1f;
  --color-dark: #1c2022;
  --color-light: #525557;
  --color-lighter: #a4a6a7;
  --color-lightest: #ececec;
  --color-bright: #f7f8f8;
  --color-white: #ffffff;

  --color-blue: #2e4b81;
  --color-lightblue: #2a69dd;
  --color-yellow: #ffff00;
  --color-green: #46a746;
  --color-red: #e22020;
  --color-persianred: #cd2c2c;
  --color-cardinal: #b11647;
  --color-piper: #cd6a2c;
  --color-purple: #8f4b8f;
  --color-fuscia: #ee1eee;
  --color-disco: #9c2069;
  --color-orange: #ffa500;
  --color-lightorange: #ffc760;
  --color-darkslate: #2e454b;

  --color-active: #2a69dd;

  --color-drag-accept: #021580;
  --color-drag-drop-ready: #00ad2b;
  --color-drag-drop-over: #00f93e;
}